---
layout: default
title: Blog
image: /assets/media/blog.png
description: My Blog.
---
{% for post in site.posts %}
  <div class="blog-preview">
    <div class="blog-header">
      <a
        href="{{post.url}}"
        class="blog-link"
        {% if post['disable-boost'] %}
          hx-boost="false"
        {% endif %}
      >
        <h1 class="blog-title">
          {{ post.title }}
        </h1>
      </a>
      <div class="post-date">{{ post.date | date_to_string }}</div>
      <img
        src="{{ post.image }}"
        alt="{{ post.title }}"
        width="{{ post.image_width }}"
        height="{{ post.image_height }}"
      >
      {{ post.excerpt }}
    </div>
  </div>
  <hr>
{% endfor %}
