---
layout: default
title: Blog
title_override: Blog
image: /assets/media/main-page/golden_gate.webp
image_width: 800
image_height: 469
description: Carl Kolon's blog about software engineering, math, AI, and the Navy.
keywords: blog, software engineering, mathematics, Navy, submarines, machine learning, data science, personal projects
pagination:
  enabled: true
---
{% for post in paginator.posts %}
  <div class="blog-preview">
    <div class="blog-header">
      <link rel="prefetch" href="{{ post.url }}">
      <a
        href="{{post.url}}"
        class="blog-link"
        {% if post['disable-boost'] %}
          hx-boost="false"
        {% endif %}
      >
        <h1 class="blog-title">
          {{ post.title }}
        </h1>
      </a>
      <div class="post-date">{{ post.date | date_to_string }}</div>
      <img
        src="{{ post.image }}"
        alt="{{ post.title }}"
        width="{{ post.image_width }}"
        height="{{ post.image_height }}"
        {% if forloop.first %}
          fetchpriority="high"
        {% endif %}
      >
      {{ post.excerpt }}
    </div>
  </div>
  <hr>
{% endfor %}
{% include blog_pagination.html %}
