<style>
  /* Critical CSS */
  body {
    background-color: white;
    font-family: 'Lora', 'Lora Fallback', serif;
    margin: auto;
    max-width: 795px;
    min-width: 265px;
    padding: 10px;
  }

  @font-face {
    font-family: 'Lora Fallback';
    src: local('Georgia');
    size-adjust: 104%;
    ascent-override: 92%;
    descent-override: 30%;
    line-gap-override: 0%;
  }

  img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
    text-align: center;
  }

  li {
    margin: 5pt 0cm 5pt 0cm;
  }

  nav {
    margin: auto;
    text-align: center;
  }

  @media only screen and (max-width: 350px) {
    nav {
      font-size: 12px;
    }
  }

  h1 {
    color: #303030;
    font-weight: 700;
  }

  h1 .muted {
    color: #666;
    font-weight: 500;
  }

  nav {
    margin: auto;
    text-align: center;
  }

  .blog-header a h1 {
    text-decoration: none;
    color: blue;
  }

  .blog-header-link {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  .blog-header .post-date {
    margin-top: 0.25em;
    color: gray;
    font-size: small;
  }

  .blog-header {
    margin-bottom: 1.5em;
  }

  .blog-header h1 {
    margin-bottom: 0;
  }

  .blog-preview a {
    text-decoration: none;
    color: inherit;
  }
</style>
