<nav>
  {% assign page_url = page.url | remove: 'index.html' | remove: '/' %}
  -
  {% for item in site.data.navigation %}
    {% assign item_link = item.link | remove: '/' %}
    {% if page_url == item_link %}
      <span class="current">
        {{- item.name -}}
      </span>
    {% else %}
      <a
        href="{{ item.link }}"
        {% if item['disable-boost'] %}
          hx-boost="false"
        {% endif %}
      >
        {{- item.name -}}
      </a>
    {% endif %}
    -
  {% endfor %}
</nav>
