.blog-preview {
  transition: transform 0.2s ease, opacity 0.2s ease;
  position: relative;
}

.blog-link::after {
  content: "";
  position: absolute;
  inset: 0;
}

.blog-preview:hover h1{
  text-decoration: underline;
}
