<!doctype html>
<html prefix="og: https://ogp.me/ns#">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.6/dist/htmx.min.js"
    ></script>
    <script src="/assets/scripts/reinitialize.js" defer></script>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://carlkolon.com{{ page.url }}">
    <meta property="og:image" content="https://carlkolon.com{{ page.image }}">
    <meta property="og:description" content="{{ page.description }}">
    <meta property="og:site_name" content="Carl Kolon">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@CarlKolon">
    <meta name="twitter:title" content="{{ page.title }}">
    <meta name="twitter:description" content="{{ page.description }}">
    <meta
      name="twitter:image"
      content="https://carlkolon.com{{ page.image }}"
    >
    <meta name="twitter:creator" content="@CarlKolon">
    <meta name="description" content="{{ page.description }}">

    <style>
      /* Critical CSS */
      body {
        margin: auto;
        max-width: 795px;
        min-width: 265px;
        padding: 10px;
      }

      h1 {
        color: #303030;
        font-weight: 700;
      }

      h1 .muted {
        color: #666;
        font-weight: 500;
      }

      nav {
        margin: auto;
        text-align: center;
      }
    </style>

    <link rel="preload" href="/assets/css/styles.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
      <link rel="stylesheet" href="/assets/css/styles.css">
    </noscript>
    {% if page.custom_css %}
      {% for stylesheet in page.custom_css %}
        <link
          rel="stylesheet"
          href="{{ site.baseurl }}/assets/css/{{ stylesheet }}.css"
        >
      {% endfor %}
    {% endif %}
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/assets/media/favicon/apple-touch-icon.png"
    >
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/assets/media/favicon/favicon-32x32.png"
    >
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/assets/media/favicon/favicon-16x16.png"
    >
    <link rel="manifest" href="/assets/media/favicon/site.webmanifest">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      rel="preload"
      as="style"
      href="https://fonts.googleapis.com/css2?family=Lora:wght@400..700&display=swap"
      onload="this.onload=null;this.rel='stylesheet'"
    >
    <noscript>
      <link href="https://fonts.googleapis.com/css2?family=Lora:wght@400..700&display=swap" rel="stylesheet">
    </noscript>

    {% if jekyll.environment == 'production' %}
      {% include analytics.html %}
    {% endif %}
  </head>

  <body hx-boost="true" hx-ext="preload">
    {{ content }}
    {% include footer.html %}
  </body>
</html>
